/* ====================================================================================================================
 * BASE SCSS
 * ====================================================================================================================*/

html, body {
  margin:0;
  padding:0px;
  background-color:black;
  font-family:'Forma DJR Banner', serif;
  color: white;
}
