

.site {font-size: 16px;}
.underline {text-decoration:underline;}
.heading {
	font-size: 40px; 
	text-transform: uppercase;
	font-weight: lighter;
	margin-bottom: 20px;
}
.first {
	margin-left: 30px;
	display: inline-block;
}


@media screen and (min-width: 1280px) {
	
}